:root { 
    font: 25px/1.5 'Karla', sans-serif;
}

body, body * {
    font: unset;
    padding: unset;
    margin: unset;
    background: unset;
    border: unset;
}

div {
    padding-top: 1rem;
}


.container {
    display: grid;
    grid-template-columns: 5% 1fr 2fr 1fr 5%;
}

.main-grid {
    grid-column: 3;
    min-height: 40vh;
}

td {
    text-align: center; 
    vertical-align: middle;
    height: 2rem;
    width: 2rem;
    outline: 1px solid black;
    padding: 0.3rem;
}

input {
    text-align: center;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
}

input:disabled {
    color: gray;
}

.rowButtons {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
}

.rowButtons *:not(:last-child) {
    margin-right: 1rem;
}

button {
    background-color: lightgray;
    padding: 0.3rem 0.5rem;
}

button:hover {
    background-color: rgba(211, 211, 211, 0.904);
}

button:active {
    background-color: darkgray;
}


